<header>
    <div class="header-logo">
        <a href="/">Decode Blog</a>
    </div>
    <div class="header-search">
        <div class="search-input">

        </div>
        <div class="search-button">

        </div>
        <div class="auth-buttons">
            <a href="/signup" class="signup">Регистрация</a>
            <a href="/signin" class="signin">Вход</a>
        </div>
    </div>

</header>